---
import "../css/style.css";
---

<div class="burger_nav">
  <div class="nav_bar">
    <span class="color_line"></span>
    <a class="nav_link" href="/">HJEM</a>
    <span class="color_line"></span>
    <a class="nav_link" href="/program">PROGRAM</a>
    <span class="color_line"></span>
    <a class="nav_link" href="/past">TIDLIGERE FESTIVALER</a>
    <span class="color_line"></span>
    <a class="nav_link" href="/about_us">OM OS</a>
    <span class="color_line"></span>
  </div>
</div>

<style>
  .burger_nav {
    display: none;
    top: 74px;
  }

  a {
    text-decoration: none;
  }
  a:active {
    text-decoration: underline;
  }

  @media screen and (max-width: 800px) {
    .burger_nav.active {
      display: block;
      position: relative;
      max-width: 100%;
      background-color: #181818;
      height: 400px;
      z-index: 4;
    }

    .nav_bar {
      display: flex;
      flex-direction: column;
    }

    .nav_link {
      padding: 40px 40px 40px 65px;
    }

    .color_line {
      max-width: 100%;
      height: 2px;
      background: linear-gradient(270deg, #4eb3b6 -21.53%, #438cbf 21.38%, #8a63e8 52.97%, #c55790 86.86%, #f54d48 116.37%);
    }
  }
</style>

<script src="../js/script.js"></script>
