---
import Header from "./Header.astro";
import CardRead from "./CardRead.astro";
import CardAmbassador from "./CardAmbassador.astro";
import CardWhy from "./CardWhy.astro";
import Splash from "./Splash.astro";
---

<body>
  <Header />

  <main>
    <Splash />
    <CardRead />
    <CardWhy />
    <CardAmbassador />
  </main>
  <footer></footer>
</body>
